<div style="background-color: #121212; color: white 60%;" class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<!-- Page heading -->
		<h2 class="pull-left">
			Detail Member Sender {{sender.nama_sender313339}}
			<!-- page meta -->

		</h2>

		<!-- Breadcrumb -->
		<!-- <div class="bread-crumb pull-right">
			<a href="workspace.html"><i class="icon-home"></i> Home</a>
			Divider
			<span class="divider">/</span> <a href="#" class="bread-current">{{title}}</a>
		</div> -->

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->


	<!-- Matter -->

	<div class="matter">
		<div class="container">

			<div class="row">

				<div class="col-md-12">


					<div style="background-color: rgb(31, 33, 35);" class="widget">

						<div style="background-color: rgb(31, 33, 35);" class="widget-head">
							<div class="pull-left">{{title}}</div>
							<div class="widget-icons pull-right">
		                    	<a ng-click="cancel()" class="wclose"><i class="icon-remove"></i></a>
		                  	</div>
							<div class="clearfix"></div>
						</div>

						<div class="widget-content">
							<div class="padd">

								<!-- Form starts.  -->
								<form name="SenderDetailForm" class="form-horizontal" role="form">
									<div style="color: white 80%;" class="form-group">
										<label class="col-md-2">Id</label>

										<label class="col-md-5">
											<strong>{{sender.id_sender313339}}</strong>
										</label>
									</div>
									
									<div class="form-group">
										<label class="col-md-2">Nama</label>

										<label class="col-md-5">
											<strong>{{sender.nama_sender313339}}</strong>
										</label>
									</div>

                                                                        <div class="form-group">
										<label class="col-md-2">Telepon</label>

										<label class="col-md-5">
											<strong>{{sender.telp_sender313339}}</strong>
										</label>
									</div>
                                                                    
                                                                        <div class="form-group">
										<label class="col-md-2">Email</label>

										<label class="col-md-5">
											<strong>{{sender.email_sender313339}}</strong>
										</label>
									</div>
                                                                    
									<div class="form-group">
										<label class="col-md-2">Alamat</label>

										<label class="col-md-5">
											<strong>{{sender.alamat_sender313339}}</strong>
										</label>
									</div>
                                                                    
                                                                        <div class="form-group">
										<label class="col-md-2">Partner</label>

										<label class="col-md-5">
											<strong>{{sender.partner_sender313339}}</strong>
										</label>
									</div>
									
								</form>
							</div>
						</div>


						<div style="background-color: rgb(31, 33, 35); color: white 60%;" class="widget-foot">
							<div class="text-right">
								<button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
	<!-- Matter ends -->

</div>