<div style="background-color: #121212; color: white 60%;" class="mainbar">

	<!-- Page heading -->
	<div class="page-head">
		<!-- Page heading -->
		<h2 class="pull-left">
			Tracking
			<!-- page meta -->

		</h2>

		<!-- Breadcrumb -->
		<!-- <div class="bread-crumb pull-right">
			<a href="workspace.html"><i class="icon-home"></i> Home</a>
			Divider
			<span class="divider">/</span> <a href="#" class="bread-current">{{title}}</a>
		</div> -->

		<div class="clearfix"></div>

	</div>
	<!-- Page heading ends -->


	<!-- Matter -->

	<div class="matter">
		<div class="container">

			<div class="row">

				<div class="col-md-12">


					<div style="background-color: rgb(31, 33, 35); color: white 60%;" class="widget">

						<div style="background-color: rgb(31, 33, 35); color: white 60%;" class="widget-head">
							<div class="pull-left">{{title}}</div>
							<div class="widget-icons pull-right">
		                    	<a ng-click="cancel()" class="wclose"><i class="icon-remove"></i></a>
		                  	</div>
							<div class="clearfix"></div>
						</div>

						<div class="widget-content">
							<div class="padd">

								<!-- Form starts.  -->
								<form name="trackingDetailForm" class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-md-2">Id Tracking</label>

										<label class="col-md-5">
											<strong>{{tracking.id_tracking313339}}</strong>
										</label>
									</div>
									
									<div class="form-group">
										<label class="col-md-2">Id Sender</label>

										<label class="col-md-5">
											<strong>{{tracking.id_sender313339.id_sender313339}}</strong>
                                                                                        <ul>
                                                                                            <li>Nama Sender    = {{tracking.id_sender313339.nama_sender313339}}</li>
                                                                                            <li>Telepon Sender = {{tracking.id_sender313339.telp_sender313339}}</li>
                                                                                            <li>Alamat Sender  = {{tracking.id_sender313339.alamat_sender313339}}</li>
                                                                                            <li>Email Sender   = {{tracking.id_sender313339.email_sender313339}}</li>
                                                                                            <li>Partner Sender = {{tracking.id_sender313339.partner_sender313339}}</li>
                                                                                        </ul>
                                                                                </label>
									</div>

									<div class="form-group">
										<label class="col-md-2">Id Receiver</label>

										<label class="col-md-5">
											<strong>{{tracking.id_receiver313339.id_receiver313339}}</strong>
                                                                                        <ul>
                                                                                            <li>Nama Receiver    = {{tracking.id_receiver313339.nama_receiver313339}}</li>
                                                                                            <li>Telepon Receiver = {{tracking.id_receiver313339.telp_receiver313339}}</li>
                                                                                            <li>Alamat Receiver  = {{tracking.id_receiver313339.alamat_receiver313339}}</li>
                                                                                            <li>Email Receiver   = {{tracking.id_receiver313339.email_receiver313339}}</li>
                                                                                            <li>Partner Receiver = {{tracking.id_receiver313339.pos_receiver313339}}</li>
                                                                                        </ul>
										</label>
									</div>
                                                                    
                                                                        <div class="form-group">
                                                                                    <label class="col-md-2">Tujuan</label>

                                                                                    <label class="col-md-5">
                                                                                            <strong>{{tracking.tujuan313339}}</strong>
                                                                                    </label>
                                                                        </div>
                                                                    
                                                                        <div class="form-group">
                                                                                    <label class="col-md-2">Id Status</label>

                                                                                    <label class="col-md-5">
                                                                                            <strong>{{tracking.id_status313339.id_status313339}}</strong>
                                                                                            <ul>
                                                                                                <li>Jenis Status    = {{tracking.id_status313339.jenis_status313339}}</li>
                                                                                            </ul>
                                                                                    </label>
                                                                        </div>
								</form>
							</div>
						</div>


						<div style="background-color: rgb(31, 33, 35); color: white 60%;" class="widget-foot">
							<div class="text-right">
								<button type="button" ng-click="cancel()" class="btn btn-danger">Cancel</button>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
	<!-- Matter ends -->

</div>